html, body {
    margin: 0;
    padding: 0;
    background: url(images/bg2.jpg);
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    font-size: 2rem;
    text-align: center;
    background-color: black;
    color: whitesmoke;
    padding: 0 8vw;

}

.choices {
    display: flex;
    height: 40vh;
    gap: 3.5vw;
    margin: 15vh 5vw 0;
    
}

.choice {
    flex: 1;
    border: 2px solid black;
    border-radius: 15px;

}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.containerActualChoice {
    display: flex;
    height: 20vh;
    gap: 4.5vw;
    margin: 10vh 35vw;
}

.actualChoice {
    border: 1px solid black;
    flex: 1;
}
